p {
  color:  black;
}

.ptag {
  color: orange;
}

.btnstyle {
  color: aqua;
  background-color: aqua;
}

.p {
  color: aqua;
}

.btn {
  background-image: url("../assets/IMG.png");
  background-size: cover;
  width: 500px;
  height: 500px;
}